/data/bitmaps
/data/sdf
/data/fonts
/google/bitmaps
/google/sdf
/google/fonts
/windows/bitmaps
/windows/sdf
/windows/fonts

**/*.pkl

**/*password.txt

/style/results/clustering

/checkpoints/finetune/*
!/checkpoints/finetune/best

/venv

/.idea
**/__pycache__

/site/backend/fonts