.App {
  text-align: center;

  /* background-image: url("assets/logan-voss-nGrIkzJdVlg-unsplash.jpg");
  background-size: 40vmax;
  background-repeat: repeat; */

  width: 100%;
  height: 100%;
}

.Shadow {
  box-shadow: 0 0 4vmin rgba(0, 0, 0, 1.0);
  width: 80vw;
  margin-left: 10vw;
  height: 100%;
}

.Shader {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
}

.Center {
  background-color: #1d1e20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;

  box-shadow: inset 0 0 6vmin rgba(0, 0, 0, 1.0);
}

.Bar {
  height: 10vh;
  position: fixed;
  width: 80vw;
  margin-left: 10vw;
}

.Bar button {
  background-color: #1d1e20;
  color: white;
  font-size: 1vw;
  border: none;
  width: 6vw;
  margin-left: calc(70vw - 3vw);
  margin-top: 2vh;
  background-color: transparent;
}

.LoginPopup {
  background-color: transparent;
  margin-right: 0;
  margin: 0;
  width: 20vw;
  margin-left: 60vw;
  margin-top: 3vh;
}

.LoginPopup div {
  display: flex;
  justify-content: center;
}


.LoginPopup input {
  margin-left: 1vw;
}

.LoginPopup label {
  color: white;
  font-size: 1vw;
}

.LoginPopup button {
  margin-left: 0;
  color: white;
}
