.App {
  text-align: center;

  background-image: url("assets/logan-voss-nGrIkzJdVlg-unsplash.jpg");
  background-size: 40vw;
  background-repeat: repeat;

  width: 100%;
  height: 100%;
}

.Shadow {
  box-shadow: 0 0 4vmin rgba(0, 0, 0, 1.0);
  width: 80vw;
  margin-left: 10vw;
  height: 100%;
}

.Center {
  background-color: #1d1e20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;

  box-shadow: inset 0 0 6vmin rgba(0, 0, 0, 1.0);
}
